*{margin:0;padding:0;outline:0}
body{font-family:helvetica;font-size:14px; line-height:18px;color:#000; }

.template{width:960px; background:#f0d5ef; margin:0 auto; }
.clear{overflow: hidden;}
.header{ background:#fae3f9;   }
.logo {
    width: 500px;
    float: left;
}
.logo img {
    width: 78px;
    border-radius: 77px;
    float: left;
    padding: 10px;
    padding-left: 19px;
}
.logo h1 {
    font-family: cambria;
    color: #b384b0;
    padding-top: 38px;
    margin: 8px;
    font-size: 36px;
    text-shadow: 1px 1px 0px #320;
}
.logo h2 {
    font-size: 16px;
    font-family: cambria;
    color: #b384b0;
    margin-left: 111px;
}
.social {
    padding-top: 65px;
}
.social img {
    width: 43px;
    float: right;
    margin: 5px;
}
.navsec{height:85px;}
.navsec ul {
    list-style: none;
    margin: 5px;
    padding: 36px 83px;
}
.navsec ul li{float:left;}
.navsec ul li a {
    text-decoration: none;
    font-family: cambria;
    padding: 10px 33px;
    background: #fae3f9;
    margin: 5px 10px;
    border-radius: 24px;
}
.navsec ul li a:hover{background:#ab7da6; color:#ffff; }
#slider{}
#slider figure{position:relative;margin:0;left:0;animation:15s slider infinite;}
#slider figure img{ width: 20%;float: left;  }
.contentsec{}
.maincon {
    width: 589px;
    background: #fae3f9;
    float: left;
    margin: 22px;
    padding: 10px;
    text-align: center;
}
.firstpost{}
.firstpost h2 {
    border-bottom: 6px solid #dbd670;
    padding: 15px;
    text-align: left;
    font-family: French Script MT;
    font-size: 33px;
    margin: 10px;
}
.firstpost img {
    width: 296px;
    float: left;
    margin: 10px;
    padding: 10px;
}
.firstpost p {
    font-family: Edwardian Script ITC;
    margin: 10px;
    padding: 20px;
    font-size: 32px;
    letter-spacing: 2px;
    line-height: 32px;
    color: #a8a338;
    text-align: center;
    padding-top: 67px;
}
.viewpost{}
.viewpost a {
    float: right;
    background: #f0d5ef;
    text-decoration: none;
    font-family: cambria;
    margin: 22px;
    padding: 4px;
    margin-right: 17px;
    color: #a19e60;
    border-radius: 8px;
    border: 2px solid #a19e60;
}
.viewpost a:hover{background:#a19e60;color:#ffff;  }
.secondpost{}
.secondpost h2{
	border-bottom: 6px solid #dbd670;
    padding: 15px;
    text-align: left;
    font-family: French Script MT;
    font-size: 33px;
    margin: 10px;}
.secondpost img{
	width: 296px;
    float: left;
    margin: 10px;
    padding: 10px;}
.secondpost p{
	font-family: Edwardian Script ITC;
    margin: 10px;
    padding: 20px;
    font-size: 32px;
    letter-spacing: 2px;
    line-height: 32px;
    color: #a8a338;
    text-align: center;
    padding-top: 67px;}
.sidebar {
    width: 241px;
    height: 300px;
    background: #fae3f9;
    float: right;
    margin: 22px;
    padding: 10px;
    text-align: center;
}
.sidebar p{}
.footersec {}
.footersec p {
	font-size: 18px;
	font-family: cambria;
	text-align: center;
	padding: 30px;}
